include ../mixins/flash-messages

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
    title= title || '睡吧-和失眠说再见'
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(href="/css/dist/style.css", rel="stylesheet")
    
    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

    block css
    block head
    
  body
    include ../includes/header
                
    //- intro
    block intro
    
    .container.page-content
      //- messages
      +flash-messages(messages)
      //- content
      block content
      //- footer

    include ../includes/footer
      
    script(src='/js/libs/jquery-1.12.2.min.js')
    script(src='/js/libs/tether.min.js')
    script(src='/js/libs/bootstrap.min.js')

    if user && user.canAccessKeystone
      script(src='/keystone/js/content/editor.js')
      
    // The scripts using react
    if section == "tutorial" || section == "share"
      script(src='/js/dist.js')
      
    if env == 'production' && ga && ga.property && ga.domain
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '#{ga.property}', '#{ga.domain}');
        ga('send', 'pageview');
      
    block page-js
