mixin content-post(post)
  article.real-content
    h1
      =post.title
    p
      !=post.content.extended
      
mixin content-tip(tip)
  .single-post
    blockquote
      p
        !=tip.content
    .meta(style="padding-left: 0.5em")
      span
        a(href=tip.url target='_blank') 引用原文
    

mixin content-posts(category, posts)
  article.real-content
    h1
      =category.name
    p
      != category.description
    h2 文章列表
    ul.article-index
      each p in posts
        li
          a(href='/tutorial/' + p.key)
            =p.title

mixin brief-post(post)
  article
    h3
      a(href='/share/' + post.key)
        =post.title
    .meta
      span #{post.authorname} 发表于 
      span #{post.formatedPublishedDate} 
      if post.originUrl
        span
          a(href=post.originUrl) 原文连接
    != post.content.brief

mixin home-post(post)
  .single-post
    .post-title
      a(href='/' + post.type + '/' + post.key)
        =post.title
    .meta
      span #{post.authorname} 发表于 
      span #{post.formatedPublishedDate} 
      span
        a(href='/' + post.type)
          =post.typename
    p
      != post.content.brief
      

mixin home-tip(tip)
  .single-tip
    blockquote
      =tip.content