mixin post-meta(post, page)
  .post-meta
    i.icon.user
    span #{post.authorname}
    i.icon.calendar
    span #{post.formatedPublishedDate} 
    if page != 'home'
      if post.originUrl
        i.icon.external
        span
          a(href=post.originUrl) 原文连接
    else
      if post.type == "tutorial"
        i.icon.road
      else if post.type == "share"
        i.icon.share.alternate
      span
        a(href='/' + post.type)
          =post.typename
          
mixin post-nav(post)
  if post.prev || post.next
    .post-nav
      if post.prev
        span.pull-xs-left
          span 上一篇 : 
          a(href='/' + post.type + '/' + post.prev.key) #{post.prev.title}
      if post.next
        span.pull-xs-right
          span 下一篇 : 
          a(href='/' + post.type + '/' + post.next.key) #{post.next.title}

mixin content-post-real(post)
  h1
    =post.title
  +post-meta(post)
  // TODO: add editor quick link
  !=post.content.extended
  +post-nav(post)
  #post-tools(post_likes=post.likes)
  #post-comment

mixin content-post(post)
  if user
    article.post#post(post_id=post.key, user=user._id)
      +content-post-real(post)
  else
    article.post#post(post_id=post.key)
      +content-post-real(post)
      
mixin content-tip(tip)
  .card
    .content
      .description
        blockquote.blockquote
          p.m-b-0
            !=tip.content
    .extra.content
      .right.floated.author
        i.icon.quote.left
        span #{tip.author}在
          a(href=tip.url target='_blank') 这里
        span 提到

mixin content-posts(category, posts)
  article.real-content
    h1
      =category.name
    p
      != category.description
    h2 文章列表
    ul.article-index
      each p in posts
        li
          i.icon.file.text.outline
          a(href='/tutorial/' + p.key)
            =p.title
            
mixin brief-post(post, page)
  .card
    .content
      .header
        a(href='/' + post.type + '/' + post.key)
          =post.title
      .meta
        +post-meta(post, page)
      .description.post
        != post.content.short
    .extra.content
      a(href='/' + post.type + '/' + post.key, role="button") 阅读更多

mixin pagination(posts)
  .posts-pagination
    if posts.totalPages > 1
      .ui.pagination.menu
        if posts.previous
          a.item(href='?page=' + posts.previous): i.step.backward.icon
        else
          a.disabled.item(href='?page=' + 1): i.step.backward.icon
        each p, i in posts.pages
          a.item(class=posts.currentPage === p ? 'active' : null href='?page=' + (p === '...' ? (i ? posts.totalPages : 1) : p ))= p
        if posts.next
          a.item(href='?page=' + posts.next): i.step.forward.icon
        else
          a.item(href='?page=' + posts.totalPages): i.step.forward.icon
